.gpt3__features {

}

.gpt3__features-heading {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 26px;
    line-height: 70px;
    width: 38ch;
}

.gpt3__features-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FF8A71;
}

.gpt3__features-container {

}

#features {

}